* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: #dae8eb;
  height: 100vh;
  display: flex;
  justify-content: center;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 500;
}

h1 {
  margin: 0 auto 20px;
  width: fit-content;
}

input,
select {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

fieldset {
  flex: 1;
  border: none;
}

legend {
  color: #616161;
  font-weight: 500;
  padding: 0;
}

.employee-form {
  margin-bottom: 20px;
}

.modal-blocker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 100px;
  background-color: #efeee8;
  box-shadow: 0px 1px 8px 0px rgba(0, 0, 0, 1);
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background-color: 292929;
  cursor: pointer;
}

.text-valid {
  color: green;
}

.text-invalid {
  color: red;
}

.form-container {
  background-color: #efeee8;
  padding: 30px 40px;
  box-shadow: 0px 1px 8px 0px rgba(99, 99, 99, 0.2);
}

.classic-input {
  width: 100%;
  height: 30px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  padding: 4px 11px;
  box-shadow: inset 1px 1px 4px rgba(161, 161, 161, 0.788);
}

.classic-input:focus-visible,
.classic-input:focus-visible {
  background-color: white;
}

.employee-form {
  display: flex;
  gap: 40px;
  justify-content: space-between;
}

.layout {
  width: 1000px;
  padding: 50px 0;
}

.page-link {
  display: inline-block;
  width: 50%;
  text-align: center;
  background-color: #f7f7f7;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #707070;
}

.page-link-list {
  box-shadow: inset 2px -2px 4px 0px rgba(99, 99, 99, 0.2);
}

.page-link-creation {
  box-shadow: inset -1px -2px 4px 0px rgba(99, 99, 99, 0.2);
}

.active {
  background-color: #efeee8;
  box-shadow: none;
  color: black;
  box-shadow: 0px 1px 8px 0px rgba(99, 99, 99, 0.2);
}

.navbar {
  position: relative;
}

.navbar:before {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 15px;
  background-color: #efeee8;
}

.submit-button {
  display: block;
  margin: auto;
  height: 25px;
  width: 60px;
  background-color: #1b7575;
  color: white;
  border: none;
}

.submit-button:disabled {
  height: 25px;
  width: 60px;
  background-color: #4aadad;
}

.label-required,
.text-required {
  position: relative;
}

.text-required {
  font-weight: 300;
}

.warning-icon {
  position: absolute;
  width: 14px;
  left: -16px;
  top: 35px;
}

.valid-icon {
  position: absolute;
  width: 17px;
  right: -20px;
  top: -1px;
}

.error-page {
  margin-top: 300px;
}

.error-page p {
  font-weight: 500;
}

.error-info {
  text-align: center;
  margin-top: 10px;
}
