* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-image: linear-gradient(
    to left top,
    #0c4e4e,
    #4f7469,
    #879a8b,
    #bdc3b6,
    #efeee8
  );
  height: 100vh;
  display: flex;
  justify-content: center;
}

button {
  border: none;
}

h1 {
  margin: 0 auto 30px;
  width: 250px;
  line-height: 40px;
  background-color: #1b7575;
  color: white;
  text-align: center;
  box-shadow: 1px 2px 4px 0px rgba(99, 99, 99, 0.5);
  font-size: 30px;
}

.layout {
  width: 1000px;
  padding: 50px 0;
}

.page-wrapper {
  background-color: #efeee8;
  padding: 30px 40px;
  box-shadow: 0px 1px 8px 0px rgba(99, 99, 99, 0.2);
}

.employee-form {
  display: flex;
  gap: 40px;
  margin-bottom: 20px;
}

fieldset {
  flex: 1;
  border: none;
}

legend {
  color: #ffffff;
  font-weight: 500;
  padding: 5px 0;
  background-color: #91908b;
  width: 100%;
  text-align: center;
}

input,
button {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}

.input-wrapper {
  position: relative;
}

.input-wrapper:focus-within > button {
  display: block;
}

.classic-input,
.entries-select,
.search-input {
  width: 100%;
  height: 30px;
  background-color: #f7f7f7;
  border: none;
  outline: none;
  padding: 4px 11px;
  font-size: 14px;
  box-shadow: inset 1px 1px 4px rgba(161, 161, 161, 0.788);
}

.classic-input:focus-visible {
  background-color: white;
}

label {
  display: block;
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 15px;
  font-weight: 500;
}

.label-required {
  position: relative;
}

.table-top label {
  margin: 0 10px 0 0;
}

.table-info {
  font-size: 15px;
  font-weight: 500;
}

.text-required {
  font-weight: 300;
}

.ant-picker .ant-picker-input input::placeholder {
  -webkit-text-fill-color: grey;
  font-size: 14px;
}

.page-link {
  display: inline-block;
  width: 50%;
  text-align: center;
  background-color: #f7f7f7;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 40px;
  color: #707070;
}

.page-link:hover:not(.active) {
  background-color: white;
}

.page-link-list {
  box-shadow: inset 2px -2px 4px 0px rgba(99, 99, 99, 0.2);
}

.page-link-creation {
  box-shadow: inset -1px -2px 4px 0px rgba(99, 99, 99, 0.2);
}

.active {
  background-color: #efeee8;
  box-shadow: none;
  color: black;
  box-shadow: 0px 1px 8px 0px rgba(99, 99, 99, 0.2);
}

.navbar {
  position: relative;
}

.navbar:before {
  content: '';
  position: absolute;
  bottom: -15px;
  width: 100%;
  height: 15px;
  background-color: #efeee8;
}

.checked-icon {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 1px;
  left: 145px;
}

.warning-icon {
  position: absolute;
  width: 16px;
  height: 16px;
  top: 1px;
  left: 142px;
}

.error-page {
  margin-top: 300px;
}

.error-page p {
  font-weight: 500;
  background-color: #efeee8;
  padding: 10px 10px 10px 10px;
  margin: auto;
}

.error-info {
  text-align: center;
  margin-top: 10px;
}

.clear-button {
  display: none;
  position: absolute;
  top: 31px;
  right: -18px;
  z-index: 1;
  padding: 4px;
  cursor: pointer;
  background-color: transparent;
}

.clear-button img {
  width: 10px;
  height: 10px;
}

.submit-button {
  display: block;
  margin: auto;
  height: 30px;
  width: 90px;
  background-color: #1b7575;
  color: white;
  font-size: 14px;
  box-shadow: 1px 2px 4px rgba(161, 161, 161, 0.788);
}

.submit-button:hover,
.close-button:hover {
  background-color: white;
  color: #1b7575;
}

.modal-blocker {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 350px;
  height: 130px;
  background-color: #efeee8;
  box-shadow: 2px 2px 8px 0px rgb(28 28 28);
  font-weight: 500;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 30px;
  height: 30px;
  padding: 0 0 0 1px;
  background-color: #1b7575;
  cursor: pointer;
  font-size: 14px;
  color: white;
  box-shadow: 1px 2px 4px rgba(161, 161, 161, 0.788);
}
